@if (readingProgress() > 0) {
  <div class="reading-progress">
    <div
      class="reading-progress-bar"
      [style.width.%]="readingProgress()"
    ></div>
  </div>}

<div class="container-fluid">

  @if (!(content$ | async)) {

    <div class="skeleton-wrapper">
      <div class="skeleton-title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
    </div>

  } @else {

    <div class="row">

      <main class="col-lg-8 doc-content">

        <div class="mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Rechercher dans ce cours..."
            (input)="search.set($any($event.target).value)"
          />
        </div>

        @for (section of filteredSections$ | async; track section.id) {
          <app-course-section [section]="section" />
        }

      </main>

      <aside class="col-lg-4 d-none d-lg-block doc-toc">
        <nav>
          <ul class="list-unstyled">

            @for (heading of headings$ | async; track heading.id) {
              <li
                [class.active]="scrollSpy.activeId() === heading.id"
                [style.padding-left.px]="heading.level === 3 ? 16 : 0"
              >
                <a [href]="'#' + heading.id">
                  {{ heading.text }}
                </a>
              </li>
            }

          </ul>
        </nav>
      </aside>

    </div>

  }

</div>
