<h2 class="text-center">Sign In</h2>
<form class="form-group container" (ngSubmit)='login()' [formGroup]='userForm'>
    <div class="form-item">
      <label for="username" class="form-label">Username: </label>
      <input class="" [formControlName]="'username'" id='username' />
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input class="" type="password" [formControlName]="'password'">
    </div>
    <div>
      <button type="submit" class="btn btn-outline-primary p-auto">Connect</button>
    </div>
</form>
