
 nav{
   display: flex;
   background: radial-gradient(red, blue);
   gap: 2rem;
   position: sticky;
   top: 0;
   right: 0;
   left: 30px;
   z-index: 1;
   box-shadow: 0px 2px 2px rgba(0,0,0, 0.9);
 
 }
 nav a{
   color: white;
   text-decoration: none;
   font-weight: bold;
   padding: 0.5rem 1rem;
   /* transition: background-color 0.3s; */
 }
 nav a:hover{
   background-color: rgba(255, 255, 255, 0.3);
 }
 