<nav
  class="sidebar border-end"
  [class.open]="layout.sidebarOpen()"
  role="navigation"
  aria-label="main navigation"
  [attr.aria-hidden]="!layout.sidebarOpen()">

  <div class="sidebar-content p-3">

    <h6 class="text-uppercase text-muted small mb-3">
      Cours
    </h6>

    <ul class="nav flex-column">
      @for(course of courses; track course.id){
      <li class="nav-item mb-1">
        <a
          class="nav-link d-flex align-items-center"
          [routerLink]="['/courses', course.id]"
          (click)="close()"
          >
          <i class="bi me-2" [class]="course.icon"></i>
          {{ course.title }}
        </a>
      </li>
      }

    </ul>

  </div>

</nav>
